.discount-card {
  border: 1px solid var(--dark-grey);
}

.discount-card-header {
  text-align: center;
  border-bottom: 1px solid var(--dark-grey);
  padding: 1rem 0;
}

.discount-card-header h3 {
  margin: 0;
}

.discount-card-body {
  padding: 1.8rem;
}
