@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --light-color: #fff;
  --primary-color: #003469;
  --secondary-color: #006969;
  --light-grey: #e3e3e3;
  --dark-grey: #424242;
  --dark-color: #000;
}

/* Core styles */
* {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 118px;
}

main {
  margin-top: 54.38px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

/* Background colors */
.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
}

/* Button colors */
.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--light-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: var(--light-color) !important;
  color: var(--primary-color) !important;
}

button:disabled {
  background-color: var(--dark-color) !important;
  border: 1px solid var(--dark-color) !important;
  color: var(--light-color) !important;
}

button:disabled:hover {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
}

/* Navigation styles */
.nav-link {
  color: var(--light-color) !important;
  transition: 0.3s ease-out;
}

.nav-link:hover {
  background-color: var(--light-color);
  color: var(--primary-color) !important;
}

i {
  color: inherit;
}

.navbar-dark {
  color: var(--light-color) !important;
}

button.navbar-toggler {
  border: 1px solid var(--light-color) !important;
}

/* Cards */
.card {
  border: 1px solid var(--dark-grey);
  border-radius: 1px;
}

/* Link */
.link-wrapper {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}

.link-wrapper a#register-link {
  color: var(--primary-color);
  text-decoration: underline;
}

.link-wrapper a#register-link:hover {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Inputs */
input.form-control {
  border: 1px solid var(--dark-grey);
}

.input-group .input-group-prepend span.input-group-text {
  color: var(--dark-color) !important;
  border: 1px solid var(--dark-grey) !important;
  background-color: var(--light-grey) !important;
}

/* Main footer */
footer#main-footer {
  background-color: #424242;
  text-align: center;
  padding: 3rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer#main-footer p {
  color: #fff;
  margin: 0;
}
