@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --light-color: #fff;
  --primary-color: #003469;
  --secondary-color: #006969;
  --light-grey: #e3e3e3;
  --dark-grey: #424242;
  --dark-color: #000;
}

/* Core styles */
* {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 118px;
}

main {
  margin-top: 54.38px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
}

.nav-link {
  color: var(--light-color) !important;
}

i {
  color: inherit;
}

.navbar-dark {
  color: var(--light-color) !important;
}

/* Main footer */
footer#main-footer {
  background-color: #424242;
  text-align: center;
  padding: 3rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer#main-footer p {
  color: #fff;
  margin: 0;
}
